/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh; /* viewport height */
    background-image: linear-gradient(
        to right bottom, 
        #7ed56fda,
        #28b485e1
    ), url(../img/hero.jpg); /* Put a linear gradient with low opacity on top of an image */
    background-size: cover; /* Take size of available viewport */
    background-position: top; /* On screen resize vertically, top part remains same while bottom part crops */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* Specify the polygon in which the element would still be visible */
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}